<div class="container">
  <h1>Personal</h1>
  
  <div class="col-md-12">
   <%= image_tag ("lulu.jpg"), :alt => "Lulu Hat", :class => "img-circle" %>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <h2>General Life</h2>
  
    <p>Honestly, all I do, is use the computer all day. Nothing special, really. I either play games, search up things 
    that interests me, and etc. There are other times where I create art. Whether its traditional or digital art. I work both 
    ways. I usually draw when I have time and kill time. Sometimes people asks me to draw something for them. You can 
    look at some of the drawings in my <a href="http://iamyxangel.deviantart.com/" target="_blank">DeviantArt</a>. 
    A few artwork are for contests.</p>
  
    <h2>Educational Life</h2>
  
    <p>I'm enrolled in Mather high school. I experienced a lot of friendship and learned a lot in the classes. 
    I'm in the Technology and Engineering house, or Information Technology. I'm certified in Microsoft Word, 
    HTML5, CSS, JavaScript, and PhotoShop. Learning these certifications is hard, but useful in the future. 
    I took summer classes to learn HTML5, CSS, and JavaScript.</p>
    
    <h2>Clubs</h2>
    </div>
  
  <div class="container">
    <div class="col-md-6">
    
    <h3>Robotics</h3>

    <%= image_tag ("robot.jpg"), :alt => "Vex Robotics", :class => "img-circle" %>
  
  <br><br>
  
    <p>I've joined the Vex Robotics club since I was a sophomore in Mather. I like technology, and it spired 
    me to build and program robots.</p>
    </div>
    
    <div class="col-md-6">
      <h3>Garden Greenhouse</h3>
      
      <%= image_tag ("garden2.jpg"), :alt => "Garden", :class => "img-circle" %>
      
      <br><br>
      <p>I recently joined the greenhouse club because I wanted to have an extra hobby. It would also help 
      me to garden with my grandmother.</p>
    </div>
  </div>
</div>