<div class="container">
  <h1>Sports</h1>
    <h2>Tennis</h2>
      <%= image_tag ("tennisball2.jpg"), :alt => "Tennis", :class => "img-circle" %>
      <br><br>
      <p>In Mather high school, I joined the girls tennis team in the fall of 2015. In the summer of 2015, we practice 
      every weekday. It was fun and challenging to play against different schools.</p>
    
    <h2>Ping Pong - Table Tennis</h2>
      <%= image_tag ("ping-pong.jpg"), :alt => "Ping-Pong", :class => "img-circle" %>
      <br><br>
      <p>Whenever I visit my cousins on the weekends, my family and I play in the garage. We usually play 1 vs. 1, sometimes 2 vs. 2 if more 
      people wanted to play.</p>
</div>